.containerFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto 0;
}

.container {
  display: flex;
  align-items: center;
}

.text {
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
}

.select {
  width: 180px;
}
