@import "../../styles/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;

  font-weight: 500;
  font-size: 16px;

  background-color: $activeColor;
  color: $whiteColor;
  margin-top: 10px;
  transition: $transition;
  box-shadow: 0 1px 3px $textColor;

  cursor: pointer;

  &:hover {
    background-color: $activeLinkColor;
  }
}
